@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  --color: #27aae1;
}
@layer utilities {
  .translate-y-50 {
    transform: translateY(-50%);
  }
}

@layer components {

  .custom-scroll {
    &::-webkit-scrollbar-track
    {
      border-radius: 20px;
      @apply bg-dark
    }
    &::-webkit-scrollbar
    {
      width: 6px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb
    {
      border-radius: 20px;
      @apply bg-primary-300
    }
  }

  .dropdown {
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    top: 56px;
    &.active {
      visibility: visible;
      opacity: 1;
      top: 36px;
      pointer-events: unset;
    }
  }
}

